@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 
  100vh;
  flex-direction: column-reverse;
}
div h1{
  font-size: 10vw;
}
button{
  border: none;
  background-color: #dc3545;
  font-weight: bold;
  cursor: pointer;
  
  min-width: 20px;
  color: white;
  padding: 7vh 10vw;
  border-radius: 10px;
  font-size: 3vw;
}
